/.DS_Store
/2. omok/__pycache__
/2. omok/.DS_Store
/2. omok/kekmodel/__pycache__
/2. omok/kekmodel/.DS_Store
/2. omok/kekmodel/env/__pycache__
/2. omok/kekmodel/env/.DS_Store
/2. omok/kekmodel/neural_net/__pycache__
/2. omok/kekmodel/neural_net/.DS_Store