<html>

<head>
</head>

<body>

  <a href="http://pub.inspace.co.kr:10200/gameboard_view" target="_blank">게임관전</a><br>
  <a href="http://pub.inspace.co.kr:10200/monitoring_view" target="_blank">승률</a><br>
  <a href="http://pub.inspace.co.kr:10200/agent_view/player/visit" target="_blank">에이전트1 visit</a><br>
  <a href="http://pub.inspace.co.kr:10200/agent_view/player/pi" target="_blank">에이전트1 pi</a><br>
  <a href="http://pub.inspace.co.kr:10200/agent_view/enemy/visit" target="_blank">에이전트2 visit</a><br>
  <a href="http://pub.inspace.co.kr:10200/agent_view/enemy/pi" target="_blank">에이전트2 pi</a><br>

</body>

</html>
