<html>

<head>
</head>

<body>

  <a href="http://127.0.0.1:5000/gameboard_view" target="_blank">게임관전</a><br>
  <a href="http://127.0.0.1:5000/monitoring_view" target="_blank">승률</a><br>
  <a href="http://127.0.0.1:5000/agent_view/player/visit" target="_blank">에이전트1 Visit</a><br>
  <a href="http://127.0.0.1:5000/agent_view/player/pi" target="_blank">에이전트1 Policy</a><br>
  <a href="http://127.0.0.1:5000/agent_view/enemy/visit" target="_blank">에이전트2 Visit</a><br>
  <a href="http://127.0.0.1:5000/agent_view/enemy/pi" target="_blank">에이전트2 Policy</a><br>

</body>

</html>
